.member {
  text-align: center;
  margin-top: 5rem;
  position: relative;
  top:0px;
  font-size: 1rem;
  transition: top 0.2s linear;
}
.member:hover{
    top: -5px;
    opacity: 0.90;
}
.member img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  /*display: block;*/
  margin: 0 auto;
  border: 3px solid rgb(21, 170, 46);
}
.members-link {
  text-align: center;
}
.members-link a {
  margin: 0 7px;
  cursor: pointer;
}
.joinT {
  text-align: center;
}
.joinT h3 {
  display: inline-block;
  font-weight: 200;
  margin-right: 40px;
}
/*@media (max-width: 570px) {*/
  /*.member {*/
    /*margin-top: 4rem;*/
  /*}*/
  /*.member img {*/
    /*width: 175px;*/
    /*height: 175px;*/
  /*}*/
  /*.joinT h3 {*/
    /*margin-right: 0px;*/
  /*}*/
/*}*/
